body{
	background-color: #FF6800; /*Orange*/
	font-size: 16px;
	color: #000; /* Black */
}
*{
	box-sizing: border-box;
}
#whole{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.container{
	margin-left: auto;
	margin-right: auto;
	width: 970px;
}


/*Header*/
#header-nav{
	background-color: #fff; /*White*/
	border: 0;
	border-radius: 0;

}

#logo-img{
	background: url("../Images/sssl.png") no-repeat;
	width: 100px;
	height: 100px;
}

#brand h1{
	color: #FF6800; /*Orange*/
	border: 1px solid-black;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	line-height: 0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
} 

#nav-list {
	margin-top: 25px;
	margin-right: 0;
}
#nav-list li{
	
}
#nav-list a{
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid black;
	text-align: center;
}
/*End of Header*/